@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;1,700&display=swap");

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
.main-enter {
    background: linear-gradient(
        108deg,
        #98a0c5 22.1%,
        rgba(220, 174, 179, 0.3) 99.12%
    );
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    min-height: 480px;
}
.small-block {
    height: auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
}
.block,
.messanger {
    background-color: #fff;

    border-radius: 20px;
    /* opacity: 65%; */
    border: none;
    display: flex;
    background-color: rgb(255, 255, 255);
}
.picture-top {
}
.picture-top img {
    position: static;
    width: 120%;
    left: 10px;
    margin-bottom: -20%;
}

.info {
    background: transparent;
    margin-left: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-enter {
    color: #000;
    padding-top: 70px;
    font-size: 50px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: normal;
}
.title-enter span {
    color: #8260b5;
    font-size: 60px;
    margin-left: 80px;
}
.text-enter {
    text-align: start;
    color: #959595;
    font-size: 18px;
    font-weight: 400;
    padding-right: 40px;
    line-height: 30px;
    padding-top: 40px;
    margin-bottom: 20px;
    background: transparent;
}

.button-click {
    background-color: #8260b5;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
    padding: 15px 34px;
    border: none;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.button:hover {
    background-color: #e88073;
    transform: translate(0, -3px);
    box-shadow: 0 10px 20px 0 #e88073;
}

.join,
.chat-section {
    background: linear-gradient(
        108deg,
        #98a0c5 22.1%,
        rgba(220, 174, 179, 0.3) 99.12%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
}

.login,
.registration {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    margin-bottom: 40px;

    height: 720px;
}

.login .button,
.registration .button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form,
.registration-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-top: 20px;
    box-sizing: border-box;
}
.registration-form {
    margin-top: 40px;
}
.login-img,
.registration-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    width: 50%;
}
.login-image,
.registration-image {
    width: 115%;
}

.form-title {
    color: #8260b5;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin: 30px auto 10px auto;
}
.form-headline {
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

.form-text {
    display: flex;
    flex-direction: column;

    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.registration-link,
.login-link {
    margin-left: 5px;
    text-decoration: underline;
}
.inputbox {
    position: relative;

    min-width: 310px;
}

.inputbox label {
    position: absolute;
    top: 40%;
    left: 5px;
    transform: translateY(-20%);
    color: #8260b5;
    font-weight: 800;
    font-size: 14px;
    pointer-events: none;
    transition: 0.5s;
}
input:focus ~ label,
input:valid ~ label {
    top: -2px;
}
.inputbox input {
    width: 100%;
    height: 40px;
    background: transparent;
    border-bottom: 1px solid #333;

    outline: none;
    font-size: 1em;
    padding: -17px 35px 0 35px;
    color: #333;
    caret-color: #333;
    transition: 0.5s;
}
.input-field {
    border: none;
}

.policy {
    font-size: 10px;
    color: #333;
    text-align: center;
}
.policy label {
    text-align: left;
}
.policy input {
    margin: 0;
    padding: 0;
    width: auto;
}

/* ======== */
.menu {
    max-width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-icon {
    width: 45px;
    padding: 10px;
}
.search-block {
    padding: 5px;
    box-sizing: border-box;
}
.search-block input {
    padding: 5px;

    border-radius: 5px;
    border: 0.2px;
}
.search-icon {
    padding-top: 30px;
    width: 10px;
}
.contacts {
    padding-top: 10px;
    padding-left: 10px;
}
.contact-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.contact {
    color: #000;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #8260b5;
    box-shadow: #333;
    border-radius: 10px;
    margin-bottom: auto;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-icon {
    width: 40px;
    height: 40px;
}
.contact-info {
    display: flex;
    flex-direction: column;
    padding: 5px 8px;
}
.contact-name {
    font-weight: 600;
    font-size: 16px;
}
.status-on,
.status-off {
    font-size: 12px;
    font-weight: 700;
    margin-top: 5px;
    text-align: right;
    padding-right: 0px;
}
.status-on {
    color: rgb(15, 213, 15);
}
.status-off {
    color: red;
}
.message-text {
    padding: 5px 0;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.nav-icon {
    width: 13px;
    text-align: right;
    padding-top: 20px;
    position: relative;
}
.chat-window {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.container {
    max-width: 1360px;
    width: 100%;

    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: relative;
    border-radius: 40px;
}

.chat-type {
    display: flex;
}

h6 {
    font-size: 12px;
    text-align: center;
}

/* -------------------работа над адаптивом--------------------------------------- */
@media (max-width: 800px) {
    .login-img,
    .registration-img {
        display: none;
    }
    .registration {
        width: 100%;
    }
}
/* -------------------------------------------------------------- */

.chat-section {
    background: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        108deg,
        #98a0c5 22.1%,
        rgba(220, 174, 179, 0.3) 99.12%
    );
}
.chat-container {
    max-width: 1360px;
    width: 100%;
    height: 720px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: relative;
    border-radius: 40px;
}

.chat-sidebar {
    width: 64px;
    background-color: #f1f5f9;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
    border-radius: 40px;
}
.chat-sidebar-logo {
    width: 70px;
    padding: 12px 8px;
    text-decoration: none;
}
.logo {
    width: 100%;
}
.chat-sidebar-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px 0;
}
.chat-sidebar-menu > * > a {
    display: block;
    text-align: center;
    padding: 12px 8px;
    font-size: 24px;
    text-decoration: none;
    color: #94a3b8;
    position: relative;
    transition: color 0.15s ease-in-out;
}
.chat-sidebar-menu > * > a:hover {
    color: #475569;
}
.chat-sidebar-menu > .active > a {
    box-shadow: inset 4px 0 0 0 #98a0c5;
    color: #98a0c5;
    background-color: #e0e7ff;
}
.chat-sidebar-menu > * > a::before {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: calc(100% - 16px);
    border-radius: 4px;
    transform: translateY(-50%);
    font-size: 13px;
    padding: 6px 12px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
}
.chat-sidebar-menu > * > a:hover::before {
    left: calc(100% - 8px);
    opacity: 1;
    visibility: visible;
}
.chat-sidebar-profile {
    margin-top: auto;
    position: relative;
}
.chat-sidebar-profile-toggle {
    background-color: transparent;
    border: none;
    outline: transparent;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.chat-sidebar-profile-toggle > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.chat-sidebar-profile-dropdown {
    position: absolute;
    bottom: 100%;
    left: 16px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    border-radius: 4px;
    padding: 4px 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transform-origin: left bottom;
    transition: all 0.15s ease-in-out;
}
.chat-sidebar-profile.active .chat-sidebar-profile-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.chat-sidebar-profile-dropdown a {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    text-decoration: none;
    color: #94a3b8;
    font-size: 14px;
}
.chat-sidebar-profile-dropdown a:hover {
    background-color: #f1f5f9;
    color: #475569;
}
.chat-sidebar-profile-dropdown a:active {
    background-color: #e2e8f0;
}
.chat-sidebar-profile-dropdown a i {
    margin-right: 12px;
    font-size: 17px;
}

.chat-content {
    padding-left: 64px;
    height: 100%;
    position: relative;
}
.content-sidebar {
    width: 256px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 0;
    left: 64px;
}
.content-sidebar-title {
    font-size: 20px;
    font-weight: 600;
    padding: 16px;
}
.content-sidebar-form {
    position: relative;
    padding: 0 16px;
}
.content-sidebar-input {
    padding: 8px 16px;
    background-color: #f1f5f9;
    border: 1px solid #cbd5e1;
    outline: none;
    width: 100%;
    border-radius: 4px;
    padding-right: 32px;
    font-size: 14px;
}
.content-sidebar-input:focus {
    border-color: #94a3b8;
}
.content-sidebar-submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32px;
    color: #94a3b8;
    background-color: transparent;
    outline: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.15s ease-in-out;
}
.content-sidebar-submit:hover {
    color: #475569;
}
.content-messages,
.content-contact {
    overflow-y: auto;
    height: 100%;
    margin-top: 16px;
}
.content-messages-list {
    list-style-type: none;
    padding: 0;
}
.content-messages-list > * > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #334155;
    padding: 6px 16px;
}
.content-message-login {
    font-size: 10px;
    margin-top: 3px;
}
.content-messages-list > * > a:hover {
    background-color: var(--slate-50);
}
.content-messages-list > .active > a {
    background-color: #f1f5f9;
}
.content-message-title,
.my-friend,
.stranger {
    margin-left: 16px;
    margin-right: 16px;
    color: #94a3b8;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    position: relative;
}
.content-message-title > *,
.stranger > *,
.my-friend > * {
    position: relative;
    z-index: 1;
    padding: 0 4px 0 0;
    background-color: white;
}
.content-message-title::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #cbd5e1;
    z-index: 0;
}
.content-message-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 12px;
}
.content-message-info {
    display: grid;
    margin-right: 12px;
    width: 100%;
}
.content-message-name,
.content-contact-name {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
}
.contact-login {
    font-size: 14px;
}
.content-message-text {
    font-size: 13px;
    color: #94a3b8;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.content-message-more {
    text-align: right;
}
.content-message-unread {
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color: #98a0c5;
    padding: 2px 4px;
    border-radius: 4px;
}
.content-message-time {
    font-size: 12px;
    color: #94a3b8;
    font-weight: 500;
}

.conversation {
    background-color: #f1f5f9;
    height: 100%;
    padding-left: 256px;
}
.conversation.active {
    display: flex;
    flex-direction: column;
}
.conversation-top {
    padding: 8px 16px;
    background-color: white;
    display: flex;
    align-items: center;
    height: 10%;
}
.conversation-back {
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    color: #94a3b8;
    margin-right: 12px;
}
.conversation-back:hover {
    background-color: #f1f5f9;
    border-radius: 50%;
    color: #475569;
}
.conversation-back:active {
    background-color: #e2e8f0;
}
.conversation-user {
    display: flex;
    align-items: center;
}
.conversation-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}
.conversation-user-name {
    font-weight: 500;
    font-size: 17px;
}
.conversation-user-status {
    color: #94a3b8;
    font-size: 13px;
}
.conversation-user-status::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #cbd5e1;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 4px;
}
.conversation-user-status.online::before {
    background-color: #22c55e;
}
.conversation-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.conversation-buttons > * {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
    color: #475569;
    margin-left: 4px;
}
.conversation-buttons > :hover {
    background-color: #f1f5f9;
    color: #334155;
}
.conversation-buttons > :active {
    background-color: #e2e8f0;
}

.conversation-main {
    overflow-y: auto;
    overflow-x: hidden;
    height: 80%;
    padding: 16px;
}
.conversation-wrapper {
    list-style-type: none;
}
.conversation-item {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 16px;
}
.conversation-item.me {
    flex-direction: row;
}
.conversation-item-side {
    margin-left: 8px;
}
.conversation-item.me .conversation-item-side {
    margin-right: 8px;
}
.conversation-item-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
.conversation-item-content {
    width: 100%;
}
.conversation-item-wrapper:not(:last-child) {
    margin-bottom: 8px;
}
.conversation-item-box {
    max-width: 720px;
    position: relative;
    /* margin-left: auto; */
}
.conversation-item.me .conversation-item-box {
    margin-left: unset;
}
.conversation-item-text {
    padding: 12px 16px 8px;
    background-color: white;
    box-shadow: 0 2px 12px -2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    margin-left: 32px;
}
.conversation-item.me .conversation-item-text {
    margin-left: unset;
    margin-right: 32px;
}
.conversation-item.me .conversation-item-text {
    background-color: #98a0c5;
    box-shadow: 0 2px 12px -2px #98a0c5;
    color: rgba(255, 255, 255, 0.8);
}
.conversation-item-time {
    font-size: 10px;
    color: #94a3b8;
    display: block;
    text-align: right;
    margin-top: 4px;
    line-height: 1;
}
.conversation-item.me .conversation-item-time {
    color: rgba(255, 255, 255, 0.7);
}
.conversation-item-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
}
.conversation-item.me .conversation-item-dropdown {
    left: unset;
    right: 0;
}
.conversation-item-wrapper:hover .conversation-item-dropdown {
    opacity: 1;
    visibility: visible;
}
.conversation-item-dropdown-toggle {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    outline: transparent;
    border: 1px solid #e2e8f0;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.conversation-item-dropdown-toggle:hover {
    background-color: #98a0c5;
    color: white;
    box-shadow: 0 2px 12px -2px #475569;
}
.conversation-item-dropdown-toggle:active {
    background-color: #475569;
}
.conversation-item-dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 4px 0;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transform-origin: left top;
    transition: all 0.15s ease-in-out;
}
.conversation-item.me .conversation-item-dropdown-list {
    left: unset;
    right: 0;
}
.conversation-item-dropdown.active .conversation-item-dropdown-list {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.conversation-item-dropdown-list a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #94a3b8;
    font-size: 13px;
    padding: 6px 12px;
}
.conversation-item-dropdown-list a:hover {
    background-color: #f1f5f9;
    color: #475569;
}
.conversation-item-dropdown-list a:active {
    background-color: #e2e8f0;
}
.conversation-item-dropdown-list a i {
    font-size: 16px;
    margin-right: 8px;
}
.coversation-divider,
.search-divider {
    text-align: center;
    font-size: 13px;
    color: #94a3b8;
    margin-bottom: 16px;
    position: relative;
}
.coversation-divider::before,
.search-divider::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #cbd5e1;
}
.coversation-divider span,
.search-divider span {
    display: inline-block;
    padding: 0 8px;
    background-color: #f1f5f9;
    position: relative;
    z-index: 1;
}

.conversation-form {
    padding: 8px 16px;
    background-color: white;
    display: flex;
    align-items: flex-end;
    height: 10%;
}
.conversation-form-group {
    width: 100%;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
}
.conversation-form-input {
    background-color: #f1f5f9;
    border: 1px solid #cbd5e1;
    border-radius: 4px;
    outline: transparent;
    padding: 10px 32px 10px 16px;
    font: inherit;
    font-size: 14px;
    resize: none;
    width: 100%;
    display: block;
    line-height: 1.5;
    max-height: calc(20px + ((14px * 2) * 6));
}
.conversation-form-input:focus {
    border-color: #94a3b8;
}
.conversation-form-record {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 20px;
    color: #94a3b8;
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
}
.conversation-form-record:hover {
    color: #475569;
}
.conversation-form-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    outline: transparent;
    font-size: 20px;
    color: #94a3b8;
    cursor: pointer;
    flex-shrink: 0;
}
.conversation-form-button:hover {
    background-color: #f1f5f9;
    color: #475569;
}
.conversation-form-button:active {
    background-color: #e2e8f0;
    color: #475569;
}
.conversation-form-submit {
    background-color: #98a0c5;
    box-shadow: 0 2px 8px -2px #98a0c5;
    color: white;
}
.conversation-form-submit:hover {
    background-color: #7562a7;
    color: white;
}
.conversation-form-submit:active {
    background-color: var();
    color: white;
}
.conversation-default {
    align-items: center;
    justify-content: center;
    padding: 16px;
    padding-left: calc(256px + 16px);
    color: #94a3b8;
}
.conversation-default i {
    font-size: 32px;
}
.conversation-default p {
    margin-top: 16px;
}
/* end: Conversation */

/* start: Breakpoints */
@media screen and (max-width: 1600px) {
    .chat-container {
        max-width: unset;
        height: 100vh;
    }
}

@media screen and (max-width: 767px) {
    .picture-top {
        display: none;
    }
    .chat-sidebar {
        top: unset;
        bottom: 0;
        width: 100%;
        height: 48px;
    }
    .chat-sidebar-logo {
        display: none;
    }
    .chat-sidebar-menu {
        flex-direction: row;
        padding: 0;
    }
    .chat-sidebar-menu > *,
    .chat-sidebar-menu > * > a {
        width: 100%;
        height: 100%;
    }
    .chat-sidebar-menu > * > a {
        padding: 8px;
    }
    .chat-sidebar-menu > .active > a {
        box-shadow: inset 0 4px 0 0 #98a0c5;
    }
    .chat-sidebar-profile {
        margin-top: 0;
        display: flex;
        align-items: center;
    }
    .chat-sidebar-profile-toggle {
        width: 32px;
        height: 32px;
    }
    .chat-sidebar-profile-dropdown {
        left: unset;
        right: 16px;
    }

    .conversation,
    .chat-content {
        padding-left: unset;
    }
    .content-sidebar {
        left: unset;
        z-index: 10;
        width: 100%;
    }
    .chat-sidebar-menu > * > a::before {
        left: 50%;
        transform: translateX(-50%);
        bottom: 100%;
        top: unset;
    }
    .chat-sidebar-menu > * > a:hover::before {
        bottom: calc(100% + 8px);
        left: 50%;
    }

    .chat-content {
        position: relative;
        height: calc(100% - 48px);
    }
    .conversation.active {
        position: relative;
        z-index: 20;
    }
    .conversation-back {
        display: flex;
    }
    .conversation-default.active {
        display: none;
        padding: 16px;
    }
}
/* end: Breakpoints */
.add-new-friend {
    padding: 5px;
    margin-top: 10px;
    width: 86%;
    border: #98a0c5;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    background-color: #8260b5;
    color: #ffffff;
}
.add-new-friend:hover {
    transform: translate(0, -3px);
    box-shadow: 0 5px 10px 0 #9985b7;
}
/* .modal-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
} */
.modal {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99998;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
}

.modal-box {
    position: relative;
    max-width: 500px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 #9985b7;
    transform: scale(0);
    transition: transform 0.8s;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}
.modal.open .modal-box {
    transform: scale(1);
}
.close-btn {
    border: none;
    top: 8px;
    right: 8px;
    background-color: transparent;
    padding: 5px;
    position: absolute;
    cursor: pointer;
}
.close-btn:hover {
    color: #5f3c93;
}

.modal-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
}
.delete-friend,
.status-friend,
.add-friend {
    color: white;
    background-color: #c9577b;
    font-size: 10px;
    padding: 5px 8px;
    justify-self: end;
    border: none;
    align-self: start;
    border-radius: 30px;
}
.add-friend {
    background-color: rgba(24, 181, 66, 70%);
}

.status-friend {
    background-color: #aeaeae;
}
.reject,
.accept {
    padding: 5px;
    margin-left: 5px;
    border-radius: 30px;
    border: none;
}
.reject:hover {
    color: white;
    background: #c9577b;
    transform: translate(0, -1px);
    box-shadow: 0 2px 5px 0 rgb(204, 61, 111);
}
.accept:hover,
.add-friend:hover {
    color: white;
    background: rgba(24, 181, 66, 70%);
    transform: translate(0, -1px);
    box-shadow: 0 2px 5px 0 rgb(24, 181, 66);
}

.delete-friend:hover {
    transform: translate(0, -1px);
    box-shadow: 0 5px 10px 0 rgb(204, 61, 111);
}
.search-divider {
    margin-top: 10px;
}
.search-divider span {
    background-color: white;
}
.edit-profile {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.profile-info {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    padding: 0 20px;
    text-align: left;
}
.profile-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-name,
.profile-login,
.profile-email,
.profile-tel {
    margin: 5px 0;
}
.edit {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    padding-left: calc(256px + 16px);
    color: #71757b;
    padding: 40px auto;
}
.conversation-default i {
    font-size: 32px;
}
.conversation-default p {
    margin-top: 16px;
}

.save {
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    background-color: #8260b5;
    color: white;
    padding: 8px;
}
.modal-headline {
    text-align: center;
    margin-bottom: 20px;
}
.profile-image {
    width: 30%;
    justify-self: center;
}
.select-menu {
    max-width: 300px;
}
.select-menu .select-btn {
    display: flex;
    height: 30px;
    background: #7562a7;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.select-btn i {
    font-size: 22px;
    transition: 0.3s;
    padding: 10px;
}
.select-btn:hover {
    box-shadow: 0 3px 5px rgba(177, 131, 246, 0.78);
    /* margin: 5px; */
    transform: scale(1.05);
}
.select-menu .options {
    position: relative;
    padding: 5px;
    margin-top: 10px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(85, 47, 160, 0.3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: none;
}
.select-menu.active .options {
    display: flex;
}
.choose-img {
    width: 45px;
    transition: 1s;
}
.option {
    transition: 0.9s;
    overflow: auto;
}
.choose-img:hover {
    margin: 10px;
    transform: scale(1.5);
    box-shadow: 0 0 5px rgba(85, 47, 160, 0.3);
}
.choose-img:focus {
    box-shadow: 0 0 5px rgba(65, 18, 161, 0.3);
}
.profile-item {
    background: white;
    margin: 5px;
    margin-top: 10px;
    font-size: 18px;
    border: 1px solid #7562a7;
    padding: 5px;
    border-radius: 8px;
    font-weight: 400;
}
.delete-account {
    color: white;
    background-color: #c9577b;
    font-size: 10px;
    padding: 10px 12px;
    justify-self: end;
    border: none;
    align-self: start;
    border-radius: 30px;
    margin-top: 20px;
}
.delete-account:hover {
    transform: translate(0, -1px);
    box-shadow: 0 5px 10px 0 rgb(204, 61, 111);
}
.submit-changes {
    color: white;
    background-color: #22c55e;
    font-size: 10px;
    padding: 10px 12px;
    justify-self: end;
    border: none;
    align-self: start;
    border-radius: 30px;
    margin-top: 20px;
}
.submit-changes:hover {
    transform: translate(0, -1px);
    box-shadow: 0 5px 10px 0 rgb(34, 197, 94);
}
.but {
    min-width: 300px;
    display: flex;
    justify-content: space-around;
}

.error-message {
    color: red;
    font-size: 10px;
    text-align: center;
    margin-top: 3px;
    text-wrap: wrap;
}
.select-btn .sBtn-text {
    background-color: #8260b5;
}

.conversation-item-wrapper.current-user {
    text-align: left;
}

.conversation-item-wrapper.other-user {
    text-align: right;
}

/* public\css\style.css */

.conversation-item-box {
    display: flex;
    margin-bottom: 10px;
}

.conversation-item-box.received {
    justify-content: flex-start;
}

.conversation-item-box.sent {
    justify-content: flex-end;
}

.conversation-item-text {
    padding: 10px;
    border-radius: 10px;
}

.conversation-item-box.received .conversation-item-text {
    background-color: #fff;
}

.conversation-item-box.sent .conversation-item-text {
    background-color: #7562a7; /* Ваш желаемый цвет для отправленных сообщений */
    color: #fff; /* Пример: текст будет белым на фоне #7562a7 */
}

.conversation-item-dropdown {
    margin-left: 10px;
}
