.users-box {
    max-height: 400px; /* Задайте максимальную высоту для контейнера с пользователями */
    overflow-y: auto; /* Добавьте вертикальный скролл при необходимости */
}

.chat-box {
    max-height: 400px; /* Задайте максимальную высоту для контейнера чата */
    overflow-y: auto; /* Добавьте вертикальный скролл при необходимости */
}
